.filterButton,
.closeButton {
  width: 100%;
  height: 100%;
  border: none;
  transition: 0.3s;
  position: relative;
}

.closeButton {
  background-color: #ff0084;

  &:hover {
    background-color: #ff7cc0;
  }
}

.filterButton {
  background-color: #ff9900;

  &:hover {
    background-color: #ffc977;
  }
  &:hover::after {
    content: "Filter";
    position: absolute;
    top: -16px;
    left: 0;
    z-index: 999;
    color: #ffffff88;
  }
}

.goldSection,
.lvlSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.goldSection p,
.lvlSection p {
  width: 100%;
  height: 100%;
}

.openModalButton {
  width: 40px;
  height: 40px;
  border: 1px solid #bb00ff;
  border-radius: 5px;
  background-color: #333;
  transition: 0.2s;
  box-shadow: 0px 0px 20px transparent;

  &:hover {
    box-shadow: 0px 0px 20px #bb00ff;
  }
}

//////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////  MAIN BUTTON  ///////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
.apothecaryBtnSet {
  position: relative;
  width: 210px;
  height: 60px;
  background-color: #4b382e;
  box-shadow: 0px 10px 10px 2px #00000055;

  .topLeft {
    position: absolute;
    top: 0;
    left: -24px;
  }
  .topRight {
    position: absolute;
    right: -24px;
    top: 0;
    transform: scaleX(-1);
  }
  .bottomRight {
    position: absolute;
    right: -24px;
    bottom: 0;
    rotate: 180deg;
  }
  .bottomLeft {
    position: absolute;
    left: -24px;
    bottom: 0;
    rotate: 180deg;
    transform: scaleX(-1);
  }
  &:hover {
    .AppButtonBranch .third {
      background: linear-gradient(to right, #72584a 25%, #6f975f 70%);
    }
  }
}

.apothecaryBtn {
  width: 190px;
  height: 40px;
  box-shadow: 0px 0px 20px 0px #00ffa3;
  border: 1px solid #ffffff55;
  border-radius: 5px;
  background: radial-gradient(
    ellipse at center bottom,
    #22f8de 20%,
    #098475 80%
  );
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #0038ff, -10px 0px 20px #0038ff,
    10px 0px 20px #0038ff, 0px 0px 30px #0038ff;
  transition: box-shadow 0.2s, background-color 0.2s, transform 0.2s;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: #ffffff00;
    pointer-events: none;
    transition: background-color 0.2s;
  }

  &:hover::after {
    background: #ffffff55;
  }

  &:active::after {
    background: #00000033;
  }

  &:hover {
    box-shadow: 0px 0px 50px 5px #00ffa3;
  }
}

// BRANCH BUTTON
.AppButtonBranch {
  position: relative;
  width: 25px;
  height: 20px;

  .first {
    position: absolute;
    width: 25px;
    height: 8px;
    top: 0;
    left: 0;
    background: linear-gradient(to left, #4b382e 33%, #5c463a 66%);
    border-radius: 5px 0 0 0;
  }
  .second {
    position: absolute;
    width: 8px;
    height: 20px;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #5c463a 33%, #72584a 66%);
    border-radius: 5px 0 0 5px;
  }
  .third {
    position: absolute;
    width: 15px;
    height: 8px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #72584a 25%, #5c463a 70%); //ici
    border-radius: 0 0 5px 5px;
    transition: background 0.2s;
  }
}

/////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////  CANDLE  ///////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
.holder {
  margin: 12rem auto 0;
  width: 100%;
  height: 400px;
  position: relative;
}

.holder *,
.holder *:before,
.holder *:after {
  position: absolute;
  content: "";
}

.candle {
  bottom: 0;
  width: 25px;
  height: 75px;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 20px -30px 50px 0 rgba(0, 0, 0, 0.4),
    inset -20px 0 50px 0 rgba(0, 0, 0, 0.4);
  background: #190f02;
  background: -moz-linear-gradient(
    #e48825,
    #e78e0e,
    #833c03,
    #4c1a03 50%,
    #443b36
  );
  background: -webkit-linear-gradient(
    #e48825,
    #e78e0e,
    #833c03,
    #4c1a03 50%,
    #443b36
  );
  background: -o-linear-gradient(
    #e48825,
    #e78e0e,
    #833c03,
    #4c1a03 50%,
    #443b36
  );
  background: -ms-linear-gradient(
    #e48825,
    #e78e0e,
    #833c03,
    #4c1a03 50%,
    #443b36
  );
  background: linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #443b36);
}

.candle::after {
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  width: 2px;
  background: linear-gradient(
    to bottom,
    transparent 1%,
    #ffffffcc 20%,
    #ffffff22 40%,
    transparent 80%
  );
  filter: blur(1px);
}

.thread {
  width: 3px;
  height: 18px;
  top: -17px;
  left: 50%;
  z-index: 1;
  border-radius: 20% 20% 0 0;
  transform: translateX(-50%);
  background: #121212;
  background: -moz-linear-gradient(
    #ffab73,
    #4b232c,
    #121212,
    black,
    #e8bb31 90%
  );
  background: -webkit-linear-gradient(
    #ffab73,
    #4b232c,
    #121212,
    black,
    #e8bb31 90%
  );
  background: -o-linear-gradient(#ffab73, #4b232c, #121212, black, #e8bb31 90%);
  background: -ms-linear-gradient(
    #ffab73,
    #4b232c,
    #121212,
    black,
    #e8bb31 90%
  );
  background: linear-gradient(#ffab73, #4b232c, #121212, black, #e8bb31 90%);
}

.flame {
  width: 6px;
  height: 30px;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%);
  bottom: 110%;
  border-radius: 50% 50% 20% 20%;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(white 80%, transparent);
  background: -webkit-linear-gradient(white 80%, transparent);
  background: -o-linear-gradient(white 80%, transparent);
  background: -ms-linear-gradient(white 80%, transparent);
  background: linear-gradient(white 80%, transparent);
  animation: moveFlame 6s linear infinite, enlargeFlame 5s linear infinite;
}

.flame:before {
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 20% 20%;
  box-shadow: 0 0 15px 0 rgba(247, 93, 0, 0.4),
    0 -6px 4px 0 rgba(247, 128, 0, 0.7);
}

@keyframes moveFlame {
  0%,
  100% {
    transform: translateX(-50%) rotate(-2deg);
  }
  50% {
    transform: translateX(-50%) rotate(2deg);
  }
}

@keyframes enlargeFlame {
  0%,
  100% {
    height: 30px;
  }
  50% {
    height: 35px;
  }
}

.glow {
  width: 7px;
  height: 20px;
  border-radius: 50% 50% 35% 35%;
  left: 50%;
  top: -24px;
  transform: translateX(-50%);
  background: rgba(0, 133, 255, 0.7);
  box-shadow: 0 -40px 30px 0 #dc8a0c, 0 40px 50px 0 #dc8a0c,
    inset 3px 0 2px 0 rgba(0, 133, 255, 0.6),
    inset -3px 0 2px 0 rgba(0, 133, 255, 0.6);
}

.glow:before {
  width: 70%;
  height: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
}

.blinking-glow {
  width: 100px;
  height: 180px;
  left: 50%;
  top: -55%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #ff6000;
  -webkit-filter: blur(50px);
  -moz-filter: blur(60px);
  -o-filter: blur(60px);
  -ms-filter: blur(60px);
  filter: blur(60px);
  animation: blinkIt 0.1s infinite;
}

@keyframes blinkIt {
  50% {
    opacity: 0.8;
  }
}
