.filterButton,
.closeButton {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f70180;
}

.lvlSection p,
.goldSection p {
  width: 100%;
  height: 100%;
}

#ingredientsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ingredient {
  display: flex;
}